<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Crowdfunder</a>
			<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="<%= 'active' if @nav == :home %>"><%= link_to 'Home', :root %></li>
						<li class="<%= 'active' if @nav == :projects %>">
							<%= link_to 'Projects', :projects %></li>
						<% if logged_in? %>
							<li class="divider-vertical"></li>
						  <li class="<%= 'active' if @nav == :my_projects %>">
						    <%= link_to 'My Projects', [:my, :projects] %><li>
						<% end %>
					</ul>
					<div class="pull-right">
						<% if logged_in? %>
							<%= link_to 'Log Out', logout_path, class: 'btn btn-warning' %>
						<% else %>
							<%= link_to 'Log In', new_session_path, class: 'btn btn-success' %>
							<%= link_to 'Sign Up', [:new, :user], class: 'btn btn-primary' %>
						<% end %>
					</div>

			</div>
		</div>
	</div>
</div>
